.chat {
  display: flex;
  width: 700px;
  height: 95vh;
}

.chat .list-wrap {
  flex: 1;
}

.chat .room {
  width: 60%;

  border: 1px solid #ddd;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width <= 600px) {
  .chat {
    width: 100%;
  }
}
