/* 봇 메시지 */
.bot-msg {
  padding: 30px 5px 20px;
}
/* 봇 프로젝트 메시지 */
.msg.projects_1 .bot-msg {
  padding: 18px;
}
.msg.projects_1 .bot-msg .title {
  margin-bottom: 0;
}

.msg.projects_1 .qusetion-wrap {
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 10px;
}
.msg.projects_1 .subtitle {
  margin-bottom: 0;
}
.msg.projects_1 .qusetion:last-child {
  margin-top: 0px;
}

/* 질문 목록 */
.bot-msg.first .qusetion-wrap {
  /* flex-wrap: nowrap;
  flex-direction: column; */
}

/* 메시지 구성요소 */
.bot-msg .title {
  margin-bottom: 5px;
}
.bot-msg .subtitle {
  margin-bottom: 50px;
}
