.bot-msg .qusetion-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.bot-msg .qusetion {
  color: #222;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 18px;

  cursor: pointer;
  word-break: keep-all;

  flex-grow: 1;
  flex-basis: 30px;
}
.bot-msg .qusetion:last-child {
  /* margin-top: 5px; */
}

/* project 선택 */
.bot-msg .project .qusetion-wrap {
  width: 100%;
  height: 50%;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;

  padding: 16px;
  word-break: keep-all;
  box-sizing: border-box;
}
.bot-msg .project .qusetion {
  flex: 0;
}

@media (hover: hover) and (pointer: fine) {
  .bot-msg .qusetion:hover {
    color: #fff;
    background-color: #4084f1;
    border-color: #4084f1;
  }
}
