/* 메시지 */
.msg {
  max-width: 270px;
  word-break: break-all;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: 2px 18px;
  border-radius: 20px;
  margin: 4px 0;

  display: inline-block;
  font-size: 1rem;
  box-sizing: border-box;
}
.msg.projects {
  padding: 8px 12px;
}
.send .msg {
  background-color: #ddd;
}
.receive .msg {
  background-color: white;
}

/* 메시지 수신발신 위치 구분 */
.send {
  display: flex;
  justify-content: end;
  position: relative;
}
.receive {
  display: flex;
  justify-content: start;
}

.send:last-child.unread::after {
  content: 'send';
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 16px;
  color: #999;
}
.send:last-child.read::after {
  content: 'read';
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 16px;
  color: #999;
}

/* swiper */
.swiper {
  --swiper-navigation-size: 1rem;
  --swiper-navigation-sides-offset: 0px;
  --swiper-pagination-bottom: 0px;
}
.swiper-wrapper {
  height: 300px !important;
}

.swiper-slide .qusetion {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
